---
- name: Teardown HouseScanner Infrastructure
  hosts: localhost
  connection: local
  gather_facts: False
  vars_files:
    - group_vars/env.yaml
    - group_vars/secrets.yaml
  vars:
    ansible_python_interpreter: /usr/bin/python3

  tasks:
    - name: Confirm teardown
      pause:
        prompt: |
          ⚠️  WARNING: This will DELETE all HouseScanner infrastructure! ⚠️
          
          This includes:
          - EC2 instances
          - RDS database (all data will be lost!)
          - S3 bucket and all stored images
          - VPC and all networking components
          
          Type 'yes' to continue, or press Ctrl+C to abort

    - name: Fail if not confirmed
      fail:
        msg: "Teardown cancelled by user"
      when: not (ansible_user_input | default('no') | lower == 'yes')

    - name: Get EC2 instances
      amazon.aws.ec2_instance_info:
        region: "{{ zone }}"
        filters:
          "tag:Name": "{{ server_name }}"
          "tag:Environment": "{{ env }}"
          instance-state-name: ["running", "stopped", "stopping"]
      register: ec2_instances

    - name: Terminate EC2 instances
      amazon.aws.ec2_instance:
        instance_ids: "{{ item.instance_id }}"
        region: "{{ zone }}"
        state: terminated
        wait: yes
      loop: "{{ ec2_instances.instances }}"
      when: ec2_instances.instances | length > 0

    - name: Get RDS instances
      amazon.aws.rds_instance_info:
        region: "{{ zone }}"
        db_instance_identifier: "{{ db_instance_identifier }}"
      register: rds_instances
      ignore_errors: yes

    - name: Delete RDS instance
      amazon.aws.rds_instance:
        id: "{{ db_instance_identifier }}"
        region: "{{ zone }}"
        skip_final_snapshot: yes
        state: absent
        wait: yes
      when: rds_instances.instances is defined and rds_instances.instances | length > 0
      ignore_errors: yes

    - name: Delete RDS subnet group
      amazon.aws.rds_subnet_group:
        name: "{{ db_instance_identifier }}-subnet-group"
        region: "{{ zone }}"
        state: absent
      ignore_errors: yes

    - name: Empty S3 bucket
      amazon.aws.s3_bucket:
        name: "{{ s3_bucket_name }}"
        region: "{{ s3_region }}"
        state: absent
        force: yes
      ignore_errors: yes

    - name: Get VPC info
      amazon.aws.ec2_vpc_net_info:
        region: "{{ zone }}"
        filters:
          "tag:Name": "{{ vpc_name }}"
          "tag:Environment": "{{ env }}"
      register: vpc_info

    - name: Set VPC ID fact
      set_fact:
        target_vpc_id: "{{ vpc_info.vpcs[0].id }}"
      when: vpc_info.vpcs | length > 0

    - name: Get security groups
      amazon.aws.ec2_security_group_info:
        region: "{{ zone }}"
        filters:
          vpc-id: "{{ target_vpc_id }}"
      register: security_groups
      when: target_vpc_id is defined

    - name: Delete EC2 security group
      amazon.aws.ec2_group:
        name: "{{ vpc_name }}-ec2-sg"
        region: "{{ zone }}"
        state: absent
      ignore_errors: yes
      when: target_vpc_id is defined

    - name: Delete RDS security group
      amazon.aws.ec2_group:
        name: "{{ vpc_name }}-rds-sg"
        region: "{{ zone }}"
        state: absent
      ignore_errors: yes
      when: target_vpc_id is defined

    - name: Get route tables
      amazon.aws.ec2_vpc_route_table_info:
        region: "{{ zone }}"
        filters:
          vpc-id: "{{ target_vpc_id }}"
      register: route_tables
      when: target_vpc_id is defined

    - name: Delete custom route tables
      amazon.aws.ec2_vpc_route_table:
        vpc_id: "{{ target_vpc_id }}"
        region: "{{ zone }}"
        route_table_id: "{{ item.id }}"
        lookup: id
        state: absent
      loop: "{{ route_tables.route_tables }}"
      when: 
        - target_vpc_id is defined
        - route_tables.route_tables is defined
        - not item.associations[0].main | default(false)
      ignore_errors: yes

    - name: Get Internet Gateway
      amazon.aws.ec2_vpc_igw_info:
        region: "{{ zone }}"
        filters:
          attachment.vpc-id: "{{ target_vpc_id }}"
      register: igw_info
      when: target_vpc_id is defined

    - name: Detach and delete Internet Gateway
      amazon.aws.ec2_vpc_igw:
        vpc_id: "{{ target_vpc_id }}"
        region: "{{ zone }}"
        state: absent
      when: 
        - target_vpc_id is defined
        - igw_info.internet_gateways is defined
        - igw_info.internet_gateways | length > 0
      ignore_errors: yes

    - name: Get subnets
      amazon.aws.ec2_vpc_subnet_info:
        region: "{{ zone }}"
        filters:
          vpc-id: "{{ target_vpc_id }}"
      register: subnets_info
      when: target_vpc_id is defined

    - name: Delete subnets
      amazon.aws.ec2_vpc_subnet:
        vpc_id: "{{ target_vpc_id }}"
        cidr: "{{ item.cidr_block }}"
        region: "{{ zone }}"
        state: absent
      loop: "{{ subnets_info.subnets }}"
      when: 
        - target_vpc_id is defined
        - subnets_info.subnets is defined
      ignore_errors: yes

    - name: Delete VPC
      amazon.aws.ec2_vpc_net:
        name: "{{ vpc_name }}"
        cidr_block: "{{ network }}"
        region: "{{ zone }}"
        state: absent
      when: target_vpc_id is defined
      ignore_errors: yes

    - name: Remove infrastructure outputs file
      file:
        path: ../infrastructure_outputs.txt
        state: absent
      delegate_to: localhost
      ignore_errors: yes

    - name: Display teardown summary
      debug:
        msg: |
          ========================================
          HouseScanner Infrastructure Teardown Complete!
          ========================================
          
          Deleted resources:
          ✓ EC2 instances ({{ server_name }})
          ✓ RDS database ({{ db_instance_identifier }})
          ✓ S3 bucket ({{ s3_bucket_name }})
          ✓ Security groups
          ✓ Subnets
          ✓ Internet Gateway
          ✓ Route tables
          ✓ VPC ({{ vpc_name }})
          
          All HouseScanner infrastructure has been removed.
          ========================================
